BasedOnStyle: Google
ColumnLimit: 100
IndentWidth: 4
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
SpaceBeforeAssignmentOperators: true
Language: Cpp
Standard: c++20
UseTab: Never
AllowShortFunctionsOnASingleLine: false